{% extends 'base.html' %}
{% block content %}

<form action="">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search for any car" name="s"/>
        <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
</form>

<br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for carrent in carrents %}
            <div class="col">
                <div class="card">
                <h1 class="card-title fw-bold">{{ carrent.carname }}</h1>
                <img class="card-img-top" src="{{ carrent.carphoto.url }}" style="height:200px"/>
                    <div class="card-body">
                        <p class="card-text">rent price : {{ carrent.price }}rs per hour </p>
                        <a href="{% url 'detail' carrent.id %}"class="btn btn-outline-primary">rent</a>
                    </div>
                </div>
                <br>
            </div>
        {% endfor %}
 </div>

{% endblock content %}