<!DOCTYPE html>
<html>
    <head>
    <title>Rent Hub</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">{% load static %}<img src="{% static 'images/car.jpg' %}" alt="" width="50" height="34" class="d-inline-block align-text-top"/>Rent Hub</a>
                <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                        <a class="nav-link" href="{% url 'rent' %}">Rent</a>
                        <a class="nav-link" href="{% url 'myorders' %}">My Orders</a>
                        <a class="nav-link" href="{% url 'cities' %}">locations</a>
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logoutaccount' %}">Logout ({{ user.username }})</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'loginaccount' %}">Login</a>
                            <a class="nav-link" href="{% url 'signupaccount' %}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

        

        <div class="container">
        {% block content %}
        {% endblock content %}
        </div>

        <footer class="text-center text-lg-start bg-light text-muted mt-4">
            
            <div class="text-center p-4">
                {% if user.is_authenticated %}
                   <h4>well come <b><u>{{ user.username }}</u></b></h4>
                {% endif %}
                © Copyright -
                <a class="text-reset fw-bold text-decoration-none" target="_self" href="#">
                    Rudra
                </a> -
                <a class="text-reset fw-bold text-decoration-none" target="_self" href="#">
                    Mehta
                </a>
            </div>
        </footer>

        
    </body>
</html>